<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOuyqx5CrPojlYdHcSPsFbtFzFFY3gn3I</string>
	<key>GCM_SENDER_ID</key>
	<string>832401021753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.klarferdigstopp.kfs</string>
	<key>PROJECT_ID</key>
	<string>klar-ferdig-stopp-b2c47</string>
	<key>STORAGE_BUCKET</key>
	<string>klar-ferdig-stopp-b2c47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832401021753:ios:d9a6680b3ec993befee6e8</string>
</dict>
</plist>